body {
  margin: 0;
  font-family: 'Playpen Sans', cursive;
  background-color: black;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
